

<div class="d-flex align-items-baseline justify-content-between">

    <!-- Title -->
    <h1 class="h2 d-flex align-items-center justify-content-between">
        <span>
            Renseignement <span class="h6">(Etudiant(e))</span>
            <button type="button" class="btn btn-sm btn-primary ms-4 p-0 h-30px w-30px rounded-circle cls-rens-user" data-bs-toggle="modal" data-bs-target="#addPerson" id="btnAddTask"><i class="ti ti-user-plus"></i></button>
        </span>
    </h1>
</div>

<div class="row"><%-include('./user-info-list');-%></div>

<%-include('./user-info-add')-%>
<%-include('./user-info-edit')-%>
