<form id="formAddUser" class="col-md-6 row row-cols-lg-auto g-2 align-items-center">
    <div class="input-group">
        <input class="form-control form-control-sm" type="text" name="matricule" placeholder="N° Matricule du personnel" aria-label=".form-control-sm example">
    </div>
    <div class="input-group">
        <select name="role" id="userRole" class="form-control form-control-sm">
            <option value="ADMIN">Administrateur</option>
            <option value="CO-ADIM">Co-Administrateur</option>
            <option value="FIN-ADIM">Administrateur FINAL</option>
        </select>
   </div>
    <div class="input-group">
        <input class="form-control form-control-sm" type="phone" name="phone" placeholder="Phone-mobile de l'utilisateur" aria-label=".form-control-sm example">
    </div>
    <div class="input-group">
        <input class="form-control form-control-sm" type="mail" name="mail" placeholder="E-mail de l'utilisateur" aria-label=".form-control-sm example">
    </div>
    <input type="submit" value="Enregistrer l'utilisateur" class="btn btn-primary btn-sm">
</form>